
/windows/*
# We only need these files from the windows folder (anything else is just crap created by Visual Studio)
!/windows/*.sln
!/windows/*.vcxproj
!/windows/*.vcxproj.filters
!/windows/*.vcxproj.user
!/windows/Timix.rc
!/windows/resource.h
